.advantages
	padding-top: 1px
	padding-bottom: 130px
	background: #fff url('../img/advantages.jpg') center / cover
	&__list
		margin-top: 15px
		display: flex
		flex-wrap: wrap
		justify-content: space-around
		list-style: none
	&__item
		margin-top: 75px
		width: 25%
		min-width: 250px
	&__caption
		margin-top: 20px
		font-family: 'DINPro-Light'
		font-size: 20px
		color: #47667e