.mounting
	position: relative
	padding-bottom: 80px
	&::after
		position: absolute
		left: 50%
		bottom: 0
		transform: translateX(-50%)
		content: ''
		max-width: 50%
		width: 100%
		height: 1px
		background-color: #ebebeb
	&__title
		font-family: 'DINPro-Black', serif
		position: relative
		background-color: $green
		text-align: center
		color: #fff
		font-size: 44px
		padding: 30px
		margin: 0
		&::before
			content: ''
			position: absolute
			left: 50%
			bottom: 0
			width: 15px
			height: 15px
			background-color: $green
			transform: translate(-50%, 50%) rotate(45deg)
		@media screen and ( max-width: 736px )
			font-size: 34px
			padding: 25px
		@media screen and ( max-width: 568px )
			font-size: 28px
			padding: 20px
		@media screen and ( max-width: 450px )
			font-size: 24px
			
	&__button
		display: block
		margin: auto
		margin-top: 90px
		min-width: 215px
		@media screen and ( max-width: 568px )
			margin-top: 40px
	&__wrap
		position: relative
		display: flex
		align-items: center
		margin: 90px auto 0
		padding: 0 30px
		height: 568px
		max-width: 1000px
		background: url('../img/mounting.png') no-repeat
		background-size: contain
		background-position: 110%
		@media screen and ( max-width: 1000px )
			justify-content: center
			background-position: center
			background-image: linear-gradient(to top, rgba(255,255,255,.7)), url('../img/mounting.png')

.m-item
	display: flex
	align-items: flex-start
	max-width: 450px
	font-family: 'DINPro', serif
	margin-bottom: 65px
	&__img
		margin-right: 30px
		@media screen and ( max-width: 450px )
			margin-right: 15px
	&__name
		font-family: 'DINPro-Black', serif
		margin: 0
		margin-bottom: 10px
		font-size: 28px
		color: #90aeba
	&:first-child &__name
		color: $orange
	&:last-child &__name
		color: #07b0ff
	&__desc
		margin: 0
		font-size: 16px
		line-height: 1.2
		color: #828282
	&__right-col
		position: relative
	&__name
		position: relative
		display: inline-block
		&::after
			content: ''
			position: absolute
			top: 0
			right: 0
			transform: translate(110%,-60%)
			width: 212px
			height: 28px
			background: url('../img/arrow-gray.png') no-repeat
			@media screen and ( max-width: 1000px )
				display: none
				
	&:first-child &__name:after
		width: 198px
		height: 22px
		background-image: url('../img/arrow-orange.png')
		transform: translate(115%, 35%)
	&:last-child &__name:after
		width: 279px
		height: 83px
		background-image: url('../img/arrow-blue.png')
		transform: translate(110%, -70%)
